:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h3 {
    font-size: x-large;
    text-align: center;
    margin: 20px;
}

article {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

article p {
    width: 100%;
    text-align: center;
    font-weight: 600;
}

article ul {
    width: fit-content;
}

#honors {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dot {
    font-size: 50px;
    color: var(--primary-color);
}

.text-white {
    color: white;
    font-weight: 300 !important;
    font-size: unset;
}

@media (max-width: 768px) {
    @media (max-width: 500px) {
        h3 {
            font-size: unset;
        }
    }
}