<section>
  <ion-card *ngIf="project" class="project-item">
    <ion-card-header>
      <ion-card-title>{{ project.name }}</ion-card-title>
      <ion-card-subtitle>{{ project.year }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{ project.description }}
      <div class="frameworks">
        <ion-chip *ngFor="let framework of project.frameworks">
          <ion-icon [name]="framework.icon"></ion-icon>
          <ion-label>{{ framework.name }}</ion-label>
        </ion-chip>
      </div>
    </ion-card-content>
  </ion-card>
</section>