section {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.project-item {
    aspect-ratio: 16/9;
    max-height: 100%;
}

ion-card-title {
    color: var(--primary-color);
}

ion-card-subtitle {
    color: #fff;
}

ion-chip {
    color: var(--primary-color);
}

ion-chip ion-icon {
    color: var(--primary-color);
}

.svg {
    fill: var(--primary-color);
    color: var(--primary-color);
}