.project-item {
    aspect-ratio: 16/9;
    width: 80%;
}

ion-card-title {
    color: var(--primary-color);
}

ion-card-subtitle {
    color: #fff;
}

ion-chip {
    color: var(--primary-color);
}

ion-chip ion-icon {
    color: var(--primary-color);
}