<h2>Experience</h2>
<h3>Web Developer · Realtrack Systems S.L.</h3>
<h4>July 2020 - March 2021</h4>
<article>
  <ul>
    <li>
      <p>Developed and maintained web applications, ensuring optimal performance and a seamless user experience.</p>
    </li>
    <li>
      <p>Led a project for sending notifications of sports reports via email and Telegram, enhancing user
        communication
        and dissemination of relevant information.</p>
    </li>
    <li>
      <p>Managed servers and utilized Docker to optimize performance and ensure scalability of web applications.</p>
    </li>
  </ul>
</article>