:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h2 {
    font-size: x-large;
    text-align: center;
    margin: 20px;
}

article {
    width: 65%;
}

article p {
    width: 100%;
}

@media (max-width: 768px) {
    article {
        width: 80%;
    }

    @media (max-width: 500px) {
        h2 {
            font-size: unset;
        }
    }
}