<ion-content [scrollEvents]="true" (ionScroll)="scrollLine.onScroll($any($event))" [fullscreen]="true">
  <ion-menu side="end" class="mobile-header ion-no-border" contentId="main-content">
    <ion-header mode="md">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button>CERRAR</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div>
        <a>
          1. About
        </a>
        <a>
          2. Experience
        </a>
        <a>
          3. Contact
        </a>
      </div>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header mode="md">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </div>
  <ion-header mode="md" class="default-header ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="end">
        <a>
          01. About
        </a>
        <a>
          02. Experience
        </a>
        <a>
          03. Contact
        </a>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div id="main-text">
      <h1>Hi, my name is</h1>
      <h2 class="big-heading">Daniel Barroso.</h2>
      <h3>Computer Engineer.</h3>
      <p>I've always been passionate about Computer Science, experience as a Web Developer. Developed a Multiplatform
        App based on Flutter dedicated to visualize cryptocurrency markets for my Final Degree Project. I've got
        advanced knowledgement in Linux and Docker microservices. Focused in developing my career as a
        Full Stack Developer and DevOps, due to I consider my self as a person that has knowledge in many fields in
        Computer Systems and Infraestructure. </p>
    </div>
    <div class="arrow bounce">
      <ion-icon name="chevron-down" size="large"></ion-icon>
    </div>
  </div>
  <div id="projects">
    <div id="left-projects" class="flex-center-column project-column">
      <img class="project-item" src="../../assets/project1.png" />
      <ion-card class="project-item">
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </div>
    <scroll-line [maxHeight]="lineHeight" #scrollLine></scroll-line>
    <div id="right-projects" class="flex-center-column project-column">
      <ion-card class="project-item">
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
      <img class="project-item" alt="" src="../../assets/project1.png" />
    </div>
  </div>
  <div style="height: 1000px;"></div>
  <ion-footer collapse="fade">
    <ion-toolbar>
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>

<div id="links">
  <a href="https://github.com/byMagg/"><ion-icon name="logo-github"></ion-icon></a>
  <a href="https://www.linkedin.com/in/daniel-barroso-urrutia/"><ion-icon name="logo-linkedin"></ion-icon></a>
  <div class="line"></div>
</div>