p {
    width: 30%;
    text-align: center;
    margin: 20px;
}

@media (max-width: 768px) {

    p {
        width: 45%;
    }

    @media (max-width: 500px) {
        p {
            width: 55%;
        }
    }
}